@import '../field/field';
@import '../checkbox-list/checkbox-list';

.slider-form {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 126.9%;
  gap: 15px 10px;
}
