include ../field/field
include ../checkbox-list/checkbox-list

mixin sliderForm(props)
  -
    const {
      id, min = 0, max = 100, intervalCount = 2,
      round = 2,
      maxValue = 50, minValue = 0
    } = props
    const sliderForm = require("@/demo/components/slider-form/slider-form.json")

  form.slider-form(id=id)
    +field({ name: "min", text: "Min", value: min })
    +field({ name: "max", text: "Max", value: max })
    +field({
      name: "minValue",
      text: "Тек. значение minValue",
      value: minValue
    })
    +field({
      name: "maxValue",
      text: "Тек. значение maxValue",
      value: maxValue
    })
    +field({
      name: "intervalCount",
      text: "Количество интервалов",
      value: intervalCount
    })
    +field({ name: "stepSize", text: "Шаг в цифрах" })
    +checkBox(sliderForm)
