include ../field/field
include ../checkbox-list/checkbox-list


mixin sliderForm(props)
  -
    const {
      id, minValue = 0, maxValue = 100, intervalCount = 2,
      round = 2,
      currentValRight = 50, currentValLeft = 0
    } = props
    const sliderForm = require("@/demo/components/slider-form/slider-form.json")
  form.slider-form(id=id, )
    +field({name: "minValue", text: "Min", value: minValue})
    +field({name: "maxValue", text: "Max", value: maxValue})
    +field({
      name: "currentValRight",
      text: "Тек. значение Btn 1",
      value: currentValRight
    })
    +field({
      name: "currentValLeft",
      text: "Тек. значение Btn 2",
      value: currentValLeft
    })
    +field({
      name: "intervalCount",
      text: "Количество интервалов",
      value: intervalCount
    })
    +field({name: "stepSize", text: "Шаг в цифрах"})
    +checkBox(sliderForm)
