{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/proposal-object-rest-spread"
  ]
}
