.interval-point {
  position: absolute;
  top: 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: none;

  &__item {
    position: relative;
    left: 0;
    top: -2px;
    z-index: 1;
    width: 1px;
    height: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    background-color: $slider-interval;
    cursor: pointer;

    &-text {
      position: absolute;
      left: 50%;
      top: 50%;
      color: $slider-interval;
      transform: translate(-50%, 70%);

      &:hover {
        color: $main-color;
      }
    }
  }

  &.interval-point_vertical {
    left: 7px;
    top: 0;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 100%;

    .interval-point__item {
      position: relative;
      top: 0;
      display: inline-block;
      width: 10px;
      height: 1px;
      background-color: $slider-interval;

      &-text {
        position: absolute;
        right: -50%;
        top: 50%;
        text-align: center;
        transform: translate(100%, -50%);
        user-select: none;
      }

      &:last-child {
        top: 1px;
      }
    }
  }
}
