@import './variables';
@import 'interval-point';

.slider-range {
  width: 100%;
  height: 7px;
  border-radius: 1rem;
  cursor: pointer;
  background-color: white;
  border: 0.5px solid $slider-border;
  z-index: 10;

  &_vertical {
    height: 100%;
    width: 7px;
    margin: 0;

    .slider-range__active-zone {
      bottom: 0;
      top: 0;
      height: 100%;
      width: 7px;
      background: $active-zone-background-vertical;
    }
  }

  &__active-zone {
    position: absolute;
    background: $active-zone-background;
    border-radius: 14px;
    top: 0;
    left: 0;
    right: 0;
    width: 5px;
    height: 7px;
    z-index: 1;
  }

  &__current-value {
    box-sizing: border-box;
    display: inline-block;
    background-color: $main-color;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: white;
    border-radius: 14px;
    border: 2px solid white;
    padding: 3px 8px;
    margin: auto;
    min-height: 20px;
    line-height: 20px;
    position: absolute;
    top: -40px;
    text-align: center;
    box-shadow: $inner-shadow;
    user-select: none;
  }

  &__button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 30;
    border: -1px solid transparent;
    padding: 0;
    box-shadow: $shadow-orange;
    background: linear-gradient(180deg, #FFFFFF 0%, #F7DDC5 100%) center;
    transition: box-shadow .3s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: 2px;
      border-radius: 50%;
      background-color: $main-color;
    }

    &:hover {
      box-shadow: $shadow-orange2;
    }
  }

}


