.slider {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: flex-start;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  width: 100%;

  &_vertical {
    width: 130px;
    min-height: 300px;
    margin-bottom: 30px;

    &.slider__rqik {
      width: 130px;
    }
  }

  &__view-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &_resizable {
      width: 100%;
      height: 200px;
      resize: both;
      overflow: auto;
      padding: 70px 60px;
      margin: 20px 0;
      max-width: 60vw;
      background-color: white;
      border: 4px solid $resize-block-border;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;

      .slider__rqik {
        margin-left: 0;
        margin-top: 0;
        height: 100%;

      }

      .slider_vertical {
        width: 50px;
      }
    }
  }

  &__rqik {
    position: relative;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
  }
}
