@import '../slider-form/slider-form';

.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  align-self: flex-start;
  justify-content: flex-start;
  border: $border-default;
  padding: 80px 50px 50px;
  width: 100%;
  transition: border-color 0.2s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    left: $pseudo-element-position;
    top: $pseudo-element-position;
    border-top: $border-style-pseudo-element;
    border-left: $border-style-pseudo-element;
    width: $pseudo-element-size;
    height: $pseudo-element-size;
    transition: 0.2s ease-in-out;
    transition-property: left, top;
  }

  &::after {
    content: '';
    position: absolute;
    right: $pseudo-element-position;
    bottom: $pseudo-element-position;
    border-right: $border-style-pseudo-element;
    border-bottom: $border-style-pseudo-element;
    width: $pseudo-element-size;
    height: $pseudo-element-size;
    transition: 0.2s ease-in-out;
    transition-property: right, bottom;
  }

  &:hover {
    border: $border-style-pseudo-element;

    &::before {
      left: $pseudo-element-position-hovered;
      top: $pseudo-element-position-hovered;
    }

    &::after {
      right: $pseudo-element-position-hovered;
      bottom: $pseudo-element-position-hovered;
    }
  }

  &__view-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    &_resizable {
      position: relative;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center;
      overflow: auto;
      margin: 20px 0;
      border: 4px solid $resize-block-border;
      padding: 70px 60px;
      width: 100%;
      height: 200px;
      max-width: 60vw;
      background-color: white;
      resize: both;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        border: 15px solid transparent;
        border-right: 15px solid $resize-block-border;
        border-bottom: 15px solid $resize-block-border;
      }

      .slider__rqik {
        margin-top: 0;
        margin-left: 0;
        height: 100%;
      }
    }
  }

  &__rqik {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    height: 70px;
    box-sizing: border-box;

    &_vertical {
      width: 80px;
      min-height: 300px;
    }
  }
}
