.checkbox-list {
  display: flex;
  flex: 1 0;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;

  &__input:checked ~ &__text {
    color: white;
    background:
      $input-active
      linear-gradient(
        -90deg,
        rgba(102, 204, 204, 1) 0%,
        rgba(102, 133, 204, 1) 100%
      );
  }

  &__element {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    gap: 20px;
  }

  &__input {
    display: none;
    align-self: center;
    width: 15px;
  }

  &__text {
    border-radius: 2px;
    padding: 7px 10px;
    background:
      $input-disable
      linear-gradient(
        -90deg,
        rgba(102, 204, 204, 0.2) 0%,
        rgba(102, 133, 204, 0.2) 100%
      );
    transition: background-color 0.3s ease-in-out;
  }
}
