//- checkElements -- Array<>

mixin checkBox({ checkElements})
  .checkbox-list
    each check in checkElements
      -
        const te = false
        const {text, text_check = '', name, checked = false} = check
      label.checkbox-list__element
        input.checkbox-list__input(type="checkbox" name = name checked = checked)
        if text_check
          .checkbox-list__text
            span.checkbox-list__text-swiper= text
            span.checkbox-list__text-swiper.checkbox-list__text-swiper_active= text_check
        else
          span.checkbox-list__text= text
