//- checkElements -- Array<>
mixin checkBox({checkElements})
  .checkbox
    each check in checkElements
      - const {text , name , checked = false} = check
      label.checkbox__element
        input.checkbox__input(type="checkbox" name=name checked=checked)
        span.checkbox__text= text
