mixin check
  .checkbox
    label.checkbox__element
      input.checkbox__input(type="checkbox" name="showInterval")
      span.checkbox__text Показать интервалы
    label.checkbox__element
      input.checkbox__input(type="checkbox" name="show" checked)
      span.checkbox__text Показать текущее значение над ползунком
    label.checkbox__element
      input.checkbox__input(type="checkbox" name="rotate" )
      span.checkbox__text Ориентация (Вертикальная/Горизонтальная)
    label.checkbox__element
      input.checkbox__input(type="checkbox" name="range" checked)
      span.checkbox__text Количество ползунков Два/Один
