.wrapper {
  padding-top: 50px;
  background-color: $background-color;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 70px;

  @media (max-width: 760px) {
    grid-template-columns: 1fr;
  }
}



