include ../components/slider/slider
include ../components/favicon/favicon
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    +favicon
    title Slider | Demo
    meta(name="keywords", content="Slider , range slider")
    meta(name="description", content="Demo range slider")
  body.page
    +slider({ className: "js-plug1", id: "form1" } )
    +slider({ className: "js-plug2", id: "form2"} )
    +slider({ className: "js-plug3", id: "form3"} )
    +slider({ className: "js-plug4", id: "form4", isResizable:"true" })
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")