@import '../styles/variables';
@import '../components/slider/slider';

.page {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  overflow-x: hidden;
  margin: 0 auto;
  padding-top: 50px;
  width: 100%;
  background-color: $background-color;
  gap: 70px;

  @media (max-width: 760px) {
    grid-template-columns: 1fr;
  }
}
