include ./components/slider/slider
doctype html
html
  head
  body.wrapper
    +slider({className: 'slider_rqik2 js-plug1', id: 'form1' })
    +slider({className: 'slider_rqik2 js-plug2', id: 'form2'})
    +slider({className: 'slider_rqik2 js-plug3', id: 'form3'})
    +slider({className: 'slider_rqik2 js-plug4', id: 'form4' ,
      classBlock:'resize-block'})
