@font-face {
  src:
    url('Montserrat-Bold.woff2') format('woff2'),
    url('Montserrat-Bold.woff') format('woff'),
    url('Montserrat-Bold.ttf') format('truetype'),
    url('Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url('Montserrat-Regular.woff2') format('woff2'),
    url('Montserrat-Regular.woff') format('woff'),
    url('Montserrat-Regular.ttf') format('truetype'),
    url('Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
