@import '~normalize.css';
@import './fonts/montserrat.css';
@import './variables.scss';
@import './slider.scss';
body {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  gap: 70px;
  label {
    display: flex;
    flex-direction: column;
  }

  input {
    width: 100px;
  }

  .control-panel {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.heys{
  border: 1px solid black;
  width: 400px;
  height: 200px;
  resize: both;
  overflow: auto;
  padding: 15px 20px;

}
.slider2{
  width: 400px;
}
.slider_rqik{
  position: relative;
  margin-top: 90px;
  margin-bottom: 0;
  width:400px;
  height: 100px;
  box-sizing: border-box;
  // width: 100%;

}
.slider_rqik2 {
  position: relative;
  width: 40px;
  height: 200px;
  box-sizing: border-box;
  resize: vertical;


}

.slider_r2 {
  width: 400px;
  height: 200px;
  position: relative;
  box-sizing: border-box;
}

.slider_r3 {
  width: 100px;
  height: 300px;
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;

}