@import './variables.scss';

.slider__range {
  width: 100%;
  height: 6px;
  border-radius: 1rem;
  cursor: pointer;
  background-color: white;
  border: 0.5px solid $grey-border;
  z-index: 10;
}




.interval_point {
  position: absolute;
  top: 9px;
  width: 100%;
  display: flex;
  padding: 0;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  margin: 0;
  cursor: pointer;

  &-item {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 14px;
    position: relative;
    top: -2px;
    left: 0;
    text-align: center;
    z-index: 1;
    width: 1px;
    height: 14px;
    background-color: $grey2;

    span {
      position: absolute;
      color: $orange;
      transform: translate(-50%, 50%);
      top: 50%;
      left: 50%;
      
    }

  }
}

.slider__range_active {
  position: absolute;
  background: $orange-gradient;
  border-radius: 14px;
  top: 0;
  left: 0;
  right: 0;
  width: 5px;
  height: 7px;
  z-index: 1;
}

.slider__current_value {
  box-sizing: border-box;
  display: inline-block;
  background-color: $orange;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 13px;
  color: white;
  background-color: $orange;
  border-radius: 14px;
  border: 2px solid white;
  padding: 3px 8px;
  margin: auto;
  min-height: 20px;
  line-height: 20px;
  position: absolute;
  top: -40px;
  text-align: center;
  box-shadow: $inner-shadow;
  user-select: none;
}

.slider__range_button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  box-sizing: border-box;
  z-index: 30;
  border: -1px solid transparent;
  border-radius: 50%;
  padding: 0;
  box-shadow: $shadow-orange;
  background: linear-gradient(180deg, #FFFFFF 0%, #F7DDC5 100%) center;
  transition: box-shadow .3s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 2px;
    border-radius: 50%;
    background-color: $orange;

  }

  &:hover {
    box-shadow: $shadow-orange2;

  }

}


.slider__range.slider__range_vertical {

  height: 100%;
  width: 6px;

  .slider__range_active {
    bottom: 0;
    top: 0;
    height: 100%;
    width: 7px;
    background: $orange-gradient2;
  }

}

.interval_point.interval_point_vertical {
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 7px;
  width: 20px;
  height: 100%;

  .interval_point-item {
    position: relative;
    top: 0;
    height: 0;
    display: inline-block;
    width: 10px;
    height: 1px;
    background-color: $grey2;

    &:last-child {
      top: 1px;
    }

    span {
      right: 0;
      text-align: center;
      position: absolute;
      color: $orange;
      transform: translate(100%, -50%);
      top: 50%;
      right: -50%;
    }

  }
}