$orange : #FE7D1F;
$grey2: #C2C2CC;
$orange-gradient: linear-gradient(90deg, #DB580F 0%, #FE7D1F 100%);
$orange-gradient2: linear-gradient(180deg, #DB580F 0%, #FE7D1F 100%);

$grey-border: rgba(116, 117, 139, 0.5);
$green: #1BC47D;

$shadow-orange : 0px 2px 4px rgba(154, 68, 7, 0.45);
$shadow-orange2 : 0px 2px 12px rgba(206, 91, 9, 0.836);
$inner-shadow:inset 0px 1px 4px #DB580F;

$background-color: #E5E8E6;
$background-color-b: #282C34;
$color-b: #ABB2BF;
$color-c: #6B7074;